#visualPlayer{
    padding: 5%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    position: absolute;
    z-index: 1000;
    top: 0;


    background: black;

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        height: 10vh;
    
        h1{
            font-size: 1em;
            color: white;
            font-weight: 300;
            align-self: center;
    
            span{
                color: orangered;
            }
        }
    
        button{
            color: white;
            align-self: center;
        }
    }

    .song-info{

        width: 100%;
        text-align: center;
        margin: 2em 0;
    
        h2{
            font-size: 2em;
            font-weight: 300;
            color: white;
            margin: 0 0 0.5em 0;
        }
    
        p{
            font-size: 1em;
            font-weight: 300;
            color: orangered;
        }
    }

    #player{

   

        .img{
            width: 100%;
    
            img{
                width: 100%;
            }
        }
    }
    
    #song{
       height: 70vh;
    }
    
    .time-line{
        width: 100%;
        height: 5px;
    
        .progress{
            width: 60%;
            background: orangered;
            height: 100%;
            display:block;
        }
    }

    .controls{

        width: 100%;
    
        ul{
            display: flex;
            flex-direction: row;
    
            justify-content:  space-between;
    
            li{
                align-self: center;
            }
    
        }
    
        button{
    
            color: lightgray;
    
             i{
                font-size: 1em;
                
             }
             
            &.btn-play-pause{
                width: 3em;
                height: 3em;

                position: relative;
                 &:after{
                    position: absolute;
                    top: 0;
                    left: 0.2em;
                    font-family: FontAwesome;
                    font-size: 3em;
                 }

                 &.play{
                     &:after{
                        content: '\f04b';
                     }
                 }
                 &.pause{
                    &:after{
                        content: '\f04c';
                     }
                 }
            }
        }
    }

}

.vp-enter {
    opacity: 0;
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
    transition: transform 300ms linear, opacity 0.3s cubic-bezier(0,0,0.3,1);
    will-change: transform, opacity;
  }
.vp-enter.vp-enter-active {
    opacity: 1;
	-webkit-transform: none;
			transform: none;
	transition: transform 300ms linear;
}
.vp-leave {
	-webkit-transform: none;
			transform: none;
    transition: transform 300ms linear;
    will-change: transform;
}
.vp-leave.vp-leave-active {
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
    transition: transform 300ms linear;
}