
#miniplayer{
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    z-index: 100;

    background: #333;
    justify-content:  space-between;
    color: white;

    div{
        align-self: center;
    }

    .img{
        width: 20%;
        align-self: stretch;

        img{
            width: 100%;
        }
    }

    .info{
        width: 70%;
        padding: 0 20px;
        font-weight: 300;

        .green{
            color: lightgreen;
            font-size: 0.8em;
            margin-bottom: 0.5em;
            i{
                color: orangered !important;
            }
        }

        title{
            font-size: 1em;
        } 
    }

    .actions{
        width: 10%;

        button{
            color: orangered;
        }
    }
}
.mp-enter {
    height: 0.1vh;
  }
  
  .mp-enter.mp-enter-active {
    height: 10vh;
    transition: height 100ms ease-in;
  }
  
  .mp-leave {
    height: 10vh;
  }
  
  .mp-leave.mp-leave-active {
    height: 10vh;
    transition: height 100ms ease-in;
  }